body{
    background-color: whitesmoke;
}


.heading1{
    font-family:sans-serif;
    font-size: 100px;
    color: black;
}

#loginform{
    margin-right:70%;
    margin-left: 5%;
}
#chatbox{
    margin-left: 5%;
}
.ipb{
    margin-right: 70%;
}
#draw{
    margin-left: 80%;
}
#vid{
    margin-left: 86%;
}

.list{
    background-color: lightgray;
}

#wel{
    margin-left: 40%;
}